{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to ShopeeSnapy where you can purchase all your needs...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name}}--- ShopeeSnapy
    {% else %}
        See our new collections---ShopeeSnapy
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
<div xmlns="http://www.w3.org/1999/html">
            <div class="row my_row_class">
                <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="mx_auto">
        {% if category %}
        <center>
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" style="float:center;">
        </center>
        <br>
        <div>
            <h1 class="text-center my_title">{{category.name}}</h1>
            <p class="text-center text-justify">{{category.description}}</p>
        </div>
        {% else %}
        <div>
            <center>
                <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width=1120px; height=350px;>
            </center>
        </div>
        <br>
        <div>
            <h1 class="text-center my_title"> Our Product Collections</h1>
            <p class="text-justify">Ecommerce is a tricky business because potential customers can’t actually touch your product before they buy it. It’s up to you to get their imagination running wild with all the possibilities of what your product will look like and how it will make them feel. Often that means telling a story. As the great writer and journalist Joan Didion once said, “We tell ourselves stories in order to live.” Or in this case, we tell ourselves stories in order to buy.</p>
        </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row mx_auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
                <div class="card text-center" style = "min-width:18rem; min-height:30rem;" >
                    <a href="{{product.get_url}}"> <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class ="row mx_auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class=" text_center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
        </div>
        <br>
    </div>
{% endblock %}
